.filters {
    display: flex;
    justify-content: space-between;
    margin: 1.6em 1em;
    margin-bottom: 0;
}

.filters .right {
    display: flex;
}

.filters button {
    background: none;
    border: none;
    padding: 0.4em;
    margin: 0 0.1em;
    cursor: pointer;
    font-size: 0.9em;
}

.filters button * {
    color: var(--color-text-disabled);
    transition: color 0.1s ease-out;
}

.filters button:not(.search-icon):hover * {
    color: white;
}

.filters .search-input {
    padding-bottom: 0.2em !important;
}
