#left-panel {
    background-color: var(--color-bg-light);
    width: var(--w);
    display: flex;
    justify-content: space-between;
}

#left-panel .grabbable {
    width: 1em;
    cursor: col-resize;
    background: linear-gradient(
        90deg,
        var(--color-bg-light) 50%,
        var(--color-bg) 50%
    );
}

#left-panel .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
