#left-panel {
    background-color: var(--color-bg-light);
    width: var(--w);
    display: flex;
    justify-content: space-between;
    position: relative;
}

#left-panel .grabbable {
    width: 1em;
    cursor: col-resize;
    background: linear-gradient(
        90deg,
        var(--color-bg-light) 50%,
        var(--color-bg) 50%
    );
}

#left-panel .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#left-panel .panel-title {
    display: flex;
    justify-content: space-between;
}

#left-panel .panel-title .start {
    display: flex;
    align-items: center;
}

.add-btn {
    position: absolute;
    right: 3em;
    bottom: 2em;
    z-index: 4;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#left-panel .sync {
    align-self: stretch;
    justify-self: flex-end;
    font-size: 1rem;
}

#left-panel .sync.working {
    animation: spin 1s linear infinite;
    opacity: 1 !important;
    cursor: initial;
}

#left-panel .sync.working * {
    color: white;
}
