.player {
    background-color: var(--color-bg-dark);
    height: var(--player-height);
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player .side {
    width: 20rem;
}

.player .controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}

.player .controls .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    margin-bottom: 0.1em;
}

.player .options button,
.player .controls .buttons button {
    background: none;
    border: none;
    transition: opacity 0.1s ease-out;
}

.player.disabled .controls .buttons button {
    opacity: 0.6;
    cursor: default;
}

.player.disabled .controls .buttons button:hover {
    opacity: 0.6;
}

.player.disabled .options button:not(.exempt),
.player.disabled .options button:not(.exempt):hover {
    opacity: 0.6;
    cursor: default;
}

.player .options button:hover,
.player .controls .buttons button:hover {
    opacity: 0.8;
}

.player .controls .buttons .play {
    font-size: 1.4em;
}

.player .controls .buttons .repeat {
    font-size: 0.8em;
    position: relative;
}

.player .controls .buttons .shuffle {
    font-size: 0.7em;
    position: relative;
}

.player .controls .buttons .shuffle::before,
.player .controls .buttons .repeat::before {
    content: '';
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    left: -0.1rem;
    top: -0.35rem;
    z-index: -1;
}

.player .controls .buttons .repeat::before {
    left: 0 !important;
}

.player .controls .buttons .repeat::before {
    left: -0.1rem;
    top: -0.3rem;
}

.player:not(.disabled) .controls .buttons .shuffle.selected *,
.player:not(.disabled) .controls .buttons .repeat.selected * {
    color: var(--color-accent-primary-sat);
}

.player:not(.disabled) .controls .buttons .shuffle.selected::before,
.player:not(.disabled) .controls .buttons .repeat.selected::before {
    background-color: var(--color-bg-light);
}

.player .controls .progress-bar {
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .controls .progress-bar .time-number {
    width: 3.5rem;
    text-align: center;
    font-size: 0.9em;
    opacity: 0.8;
}

.player.disabled .controls .progress-bar .time-number {
    opacity: 0.4;
}

.player .controls .progress-bar .bar {
    flex: 1;
    padding: 0.5em 0;
}

.player:not(.disabled) .controls .progress-bar .bar {
    cursor: pointer;
}

.player .controls .progress-bar .bar .outer {
    --bar-height: 0.4em;
    background-color: gray;
    height: var(--bar-height);
    border-radius: var(--bar-height);
}

.player:not(.disabled) .controls .progress-bar .inner {
    background-color: white;
    height: 100%;
    width: var(--progress);
    position: relative;
    border-radius: var(--bar-height);
    transition: background 0.1s ease-out;
}

.player:not(.disabled) .controls .progress-bar .bar:hover .inner,
.player:not(.disabled) .controls .progress-bar.dragged .inner {
    background-color: var(--color-accent-primary-sat);
}

.player .controls .progress-bar .handle {
    --handle-width: 0.8em;
    --difference: calc(var(--handle-width) - var(--bar-height));
    border-radius: 50%;
    height: var(--handle-width);
    aspect-ratio: 1;
    background-color: white;
    position: absolute;
    right: calc(var(--handle-width) / -2);
    top: calc(var(--difference) / -2);
    opacity: 0;
}

.player:not(.disabled) .controls .progress-bar.dragged .handle,
.player:not(.disabled) .controls .progress-bar .bar:hover .handle {
    opacity: 1;
}

.player .current-song {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    padding-right: 0;
    font-size: 0.9rem;
    overflow: hidden;
}

.player .current-song * {
    white-space: nowrap;
}

.player .current-song img {
    height: calc(var(--player-height) * 0.7);
    border-radius: 0.125rem;
}

.player .current-song .img-placeholder {
    height: calc(var(--player-height) * 0.7);
    font-size: 1rem;
    border-radius: 0.125rem;
    background-color: var(--color-bg-light);
    color: var(--color-bg-darker) !important;
}

.player .current-song .details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 1rem;
    flex: 1;
}

.player .current-song .title {
    font-weight: 500;
    overflow-x: hidden;
    max-width: 100%;
}

.player .current-song .artist {
    opacity: 0.8;
}

.player .options {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    padding: 0.8em;
    padding-right: 1.2em;
    padding-left: 0;
}

.player .options button {
    opacity: 0.9;
}

.queue-panel {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-bg-very-dark);
    z-index: 3;
    transform: translateX(30em);
    transition: transform 0.2s ease-in-out;
}

.queue-panel .safe-image {
    height: 3em;
    aspect-ratio: 1;
    position: relative;
}

.queue-panel .safe-image > * {
    border-radius: 0.125rem;
}

.queue-panel .safe-image .img-placeholder {
    font-size: 1.1rem;
}

.queue-panel.enable {
    transform: translateX(0);
}

.queue-panel .content {
    height: calc(100vh - var(--player-height));
    overflow-y: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.queue-panel .song:first-child {
    margin-top: 0.4em;
}

.queue-panel .song {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.7em 3em 0.7em 1.2em;
    cursor: pointer;
    position: relative;
}

.queue-panel .song .icon {
    opacity: 0;
    transition: opacity 0.1s ease-out;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.queue-panel .song .icon .inner {
    width: fit-content;
}

.queue-panel .song:hover .icon {
    opacity: 1;
}

.queue-panel .song:hover {
    background-color: var(--color-bg-dark);
}

.queue-panel .song img {
    height: 3em;
    border-radius: 0.125rem;
}

.queue-panel .song .name {
    font-size: 0.93rem;
    color: white;
    /*  TODO: vieritys */
    text-wrap: nowrap;
    overflow: hidden;
    width: 20em;
    font-weight: 500;
}

.queue-panel .song .icon-btn {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.queue-panel .song:not(.current):hover .icon-btn {
    opacity: 0.8;
}

.queue-panel .song .artist {
    font-size: 0.93rem;
    opacity: 0.8;
}

.queue-panel .song .info {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    flex: 1;
}

.queue-panel .song.current {
    background-color: var(--color-bg-light);
}

.queue-panel .song.past {
    opacity: 0.5;
}

@keyframes bop {
    0% {
        transform: translateY(0.1em);
    }
    25% {
        transform: translateX(0.02em) translateY(-0.05em) rotate(3deg);
    }
    50% {
        transform: translateY(0.1em);
    }
    75% {
        transform: translateX(-0.02em) translateY(-0.05em) rotate(-3deg);
    }
    100% {
        transform: translateY(0.1em);
    }
}

.queue-panel .song.current .safe-image {
    animation: bop 4s ease-in-out infinite;
}
