.player {
    background-color: var(--color-bg-dark);
    height: var(--player-height);
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player .side {
    width: 20rem;
}

.player .controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}

.player .controls .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    margin-bottom: 0.1em;
}

.player .options button,
.player .controls .buttons button {
    background: none;
    border: none;
    transition: opacity 0.1s ease-out;
}

.player .options button:hover,
.player .controls .buttons button:hover {
    opacity: 0.8;
}

.player .controls .buttons .play {
    font-size: 1.4em;
}

.player .controls .buttons .repeat {
    font-size: 0.8em;
    position: relative;
}

.player .controls .buttons .shuffle {
    font-size: 0.7em;
    position: relative;
}

.player .controls .buttons .shuffle::before,
.player .controls .buttons .repeat::before {
    content: '';
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    left: -0.1rem;
    top: -0.35rem;
    z-index: -1;
}

.player .controls .buttons .repeat::before {
    left: 0 !important;
}

.player .controls .buttons .repeat::before {
    left: -0.1rem;
    top: -0.3rem;
}

.player .controls .buttons .shuffle.selected *,
.player .controls .buttons .repeat.selected * {
    color: var(--color-accent-primary-sat);
}

.player .controls .buttons .shuffle.selected::before,
.player .controls .buttons .repeat.selected::before {
    background-color: var(--color-bg-light);
}

.player .controls .progress-bar {
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .controls .progress-bar .time-number {
    width: 3.5rem;
    text-align: center;
    font-size: 0.9em;
    opacity: 0.8;
}

.player .controls .progress-bar .bar {
    flex: 1;
    padding: 0.5em 0;
    cursor: pointer;
}

.player .controls .progress-bar .bar .outer {
    --bar-height: 0.4em;
    background-color: gray;
    height: var(--bar-height);
    border-radius: var(--bar-height);
}

.player .controls .progress-bar .inner {
    background-color: white;
    height: 100%;
    width: var(--progress);
    position: relative;
    border-radius: var(--bar-height);
    transition: background 0.1s ease-out;
}

.player .controls .progress-bar .bar:hover .inner,
.player .controls .progress-bar.dragged .inner {
    background-color: var(--color-accent-primary-sat);
}

.player .controls .progress-bar .handle {
    --handle-width: 0.8em;
    --difference: calc(var(--handle-width) - var(--bar-height));
    border-radius: 50%;
    height: var(--handle-width);
    aspect-ratio: 1;
    background-color: white;
    position: absolute;
    right: calc(var(--handle-width) / -2);
    top: calc(var(--difference) / -2);
    opacity: 0;
}

.player .controls .progress-bar.dragged .handle,
.player .controls .progress-bar .bar:hover .handle {
    opacity: 1;
}

.player .current-song {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    padding-right: 0;
    font-size: 0.9rem;
}

.player .current-song * {
    white-space: nowrap;
}

.player .current-song img {
    height: calc(var(--player-height) * 0.7);
    border-radius: 0.125rem;
}

.player .current-song .img-placeholder {
    height: calc(var(--player-height) * 0.7);
    font-size: 1rem;
    border-radius: 0.125rem;
    background-color: var(--color-bg-light);
    color: var(--color-bg-darker) !important;
}

.player .current-song .details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 1rem;
}

.player .current-song .title {
    font-weight: 500;
}

.player .current-song .artist {
    opacity: 0.8;
}

.player .options {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    padding: 0.8em;
    padding-right: 1.2em;
    padding-left: 0;
}

.player .options button {
    opacity: 0.9;
}

.queue-panel {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-bg-very-dark);
    z-index: 3;
    transform: translateX(50em);
    transition: transform 0.2s ease-out;
}

.queue-panel.enable {
    transform: translateX(0);
}

.queue-panel .content {
    height: calc(100vh - var(--player-height));
    overflow-y: auto;
}

.queue-panel .song:first-child {
    margin-top: 0.4em;
}

.queue-panel .song {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.7em 3em 0.7em 1.2em;
    border-radius: 0.25rem;
    cursor: pointer;
}

.queue-panel .song .cover {
    background-image: var(--img);
    background-size: cover;
    background-color: red;
    height: 3em;
    aspect-ratio: 1;
    border-radius: 0.125rem;
    position: relative;
}

.queue-panel .song .icon {
    opacity: 0;
    transition: opacity 0.1s ease-out;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.queue-panel .song .icon .inner {
    width: fit-content;
}

.queue-panel .song:hover .icon {
    opacity: 1;
}
.queue-panel .song .drag {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
    justify-content: center;
}

.queue-panel .song .drag div {
    height: 3px;
    border-radius: 1.5px;
    width: 24px;
    background-color: var(--color-accent-very-dark);
}

.queue-panel .song:hover {
    background-color: var(--color-bg-dark);
}

.queue-panel .song img {
    aspect-ratio: 1 !important;
    height: 3em;
    border-radius: 0.125rem;
}

.queue-panel .song .name {
    font-size: 0.93rem;
    color: white;
    /*  TODO: vieritys */
    max-width: 30rem;
    text-wrap: nowrap;
    overflow: hidden;
}

.queue-panel .song .artist {
    font-size: 0.93rem;
    opacity: 0.8;
}

.queue-panel .song .info {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
